/*==================== VARIABLES CSS ====================*/
:root {

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/*======================== BASE ========================*/
body {
  font-family: var(--body-font);
}

.font-semi-bold {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.font-medium {
  font-weight: var(--font-medium);
}

.text-justify {
  text-align: justify;
}

/*================ REUSABLE CSS CLASSES =================*/
.flag-container {
  padding-top: 6px;
}

.flag {
  width: 1.5rem;
}

.icon-size {
  width: 3rem;
}


/*==================== HERO SECTION =====================*/
